[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
nltk = "*"
sklearn = "*"
scipy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
spacy = "*"
plotly = "*"

[requires]
python_version = "3.5"
